#overlay-container-accents-jj {
    position: fixed;
    display: flex; 
    flex-direction: column; /* Align items vertically */
    justify-content: center; /* Centers vertically */
    height: 100vh; /* takes the full viewport height and width into consideration */
    align-items: center; /* centers #box */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 10000000;
}

#overlay-box-accents-jj {
    display: block;
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 8px 8px;
    border-radius: 10px;
}

.accents-popup-overlay-wrapper-jj {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

.accents-text-overlay-styles-jj {
    display: inline-block;
    background-color: #002153;
    color: white;
    opacity: 38%;
    padding:8px 12px;
    border-radius: 8px;
    user-select: none;
    font-family:'Segoe UI';
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 6px;
    margin-bottom: 6px;
    font-size: 28px;
    line-height: 1.38;
    font-weight: bold;
}
