h1, h2, h3 {
    margin: 3px 1px;
}

#container {
    display: flex;
    flex-direction: column; /* Align items vertically */
    justify-content: center; /* Centers vertically */
    height: 100vh; /* takes the full viewport height and width into consideration */
    align-items: center; /* centers #box */
}

#box {
    display: inline-block;
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 8px 8px;
    border-radius: 10px;
}

.accent-popup {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.accent-text {
    display: inline-block;
    background-color: black;
    color: white;
    opacity: 38%;
    padding:6px 12px;
    border-radius: 8px;
    user-select: none;
    font-family:'Segoe UI';
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 4px;
    margin-bottom: 4px;
}